:root {
  --tt-main-color: #212121;

  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  color: var(--tt-main-color);
}

.main-container {
  margin: 24px auto;
  width: 70%;
}

.task-tracker {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;
  border: solid 3px var(--tt-main-color);
  border-radius: 24px;
}

.task-tracker header {
  display: flex;
  flex-direction: column;
}

.task-tracker header .title {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  color: var(--tt-main-color);
}

.main-container {
  margin: 24px auto;
  width: 70%;
}

.task-tracker {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 32px 64px;
  border: solid 3px var(--tt-main-color);
  border-radius: 24px;
}

.task-tracker header {
  display: flex;
  flex-direction: column;
}

.task-tracker header .title {
  margin: 0 0 12px 0;
  user-select: none;
}

.task-tracker header .task-description-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 3px var(--tt-main-color);
  border-radius: 12px;
}

.task-tracker header .task-description-container {
  display: flex;
  align-items: center;
  padding: 2px;
  width: 100%;
  border: solid 3px var(--tt-main-color);
  border-radius: 12px;
}

.task-tracker header .task-description-container:has(input:focus) {
  border-color: #4caf50;
}

.task-tracker header .task-description-container .description {
  flex-grow: 1;
  padding: 0 6px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  appearance: none;
}

.task-tracker header .task-description-container .btn-add-task {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 38px;
  width: 44px;
  border: none;
  border-radius: 8px;
  color: #fafafa;
  background-color: var(--tt-main-color);
  appearance: none;
  cursor: pointer;
}

.task-tracker header .task-description-container .btn-add-task:hover,
.task-tracker header .task-description-container .btn-add-task:focus {
  background-color: #424242;
}

.task-tracker .task-list {
  display: flex;
  flex-direction: column;
}

.task-tracker .task-list .task {
  display: flex;
  align-items: center;
}

.task-tracker .task-list .task:not(:last-child) {
  border-bottom: solid 3px #e0e0e0;
}

.task-tracker .task-list .task.completed .task-description {
  text-decoration: line-through;
  color: #9e9e9e;
}

.task-tracker .task-list .task.completed .task-status {
  opacity: .7;
  pointer-events: none;
}

.task-tracker .task-list .task .task-status {
  margin: 0 6px 0 0;
}

.task-tracker .task-list .task .task-description {
  font-size: 1.2rem;
}

.task-tracker .task-list .task .btn-remove-task {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  margin: 0 0 0 auto;
  cursor: pointer;
}

.task-tracker .task-list .task .btn-remove-task:hover {
  background-color: #eeeeee;
}

.task-tracker .task-list .task .btn-remove-task:active {
  background-color: #e0e0e0;
}